$link-color: #007bff;
$text-color: #212529;
$gray: #444;

$serif: Arial, sans-serif;

body {
  font-family: $serif;
}

.form-view {
  width: 75%;
  padding: 20px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.card-header {
  color: $gray;
}

.card-text {
  line-height: 1.2;
}

.back-link {
  position: fixed;
  top: 20px;
  left: 10px;
}

ul {
  list-style: none;
}
